@use '../../sass/abstracts' as *;

.about {
  min-height: 100vh;
  margin: 10.5em 0;

  @include media("<=tablet"){
    margin: 0;
  }

  @include media("<=phoneL"){
    min-height: 0;
  }

  .blob {
    position: absolute;
    top: 0;
    left: -20%;
    width: 80%;
    z-index: -1;

    @include media("<=tablet"){
      width: 80%;
    }

    @include media("<=phoneL"){
      width: 100%;
    }

    @include media("<=phone"){
      left: -25%;
    }
  }
  
  .guy {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: -1;
  
    @include media("<=tablet"){
      width: 50%;
      bottom: 0%;
    }

    @include media("<tablet"){
      width: 50%;
      bottom: 10%;
    }

    @include media("<=phoneM"){
      display: none;
    }
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
}