@use "../sass/abstracts" as *;

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include media("<=tablet"){
    overflow-x: hidden;
  }

  svg {
    width: 100%;
    z-index: -2;
  
    @include media("<=tablet"){
      width: 200%;
      transform: translateX(-15%);
    }

    @include media("<=phoneL"){
      transform: translateX(0%);
    }
  }
}

